
    <div class="overflow-auto" style="max-height: 25em;">
        <div class="p-3">
            <form [formGroup]="myForm" class="list-group">
                <li class="list-group-item" *ngFor="let credit of credits; let i = index">
                    <input class="form-check-input me-2" type="checkbox" #checkbox
                        (change)="onChange(credits[i].id, checkbox.checked)" />
                    <label for="">{{credits[i].name}} - <span class="text-muted">{{credits[i].character}}</span></label>
                </li>
            </form>
        </div>
    </div>

<button class="btn btn-primary m-2" (click)="creditsCall()">Click Here</button>

<pre>{{myForm.value | json}}  </pre>