<div class="container row" style="width: 1200px">

    <div class="container" *ngFor="let data of data; let i = index">
      <div class="card mt-2 border-0" *ngIf="i<8">

        <!-- Leave this alone -->
        <div class="d-flex">
          <div>
            <img class="card-img" src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" alt="Card image cap"
              style="width: 8em">
          </div>
          <div class="p-2" style="min-width: 15em; max-width: 30em;">
            <h3 class="card-title">{{data.title}}</h3>
            <p class="card-text text-muted">Release Date: {{data.release_date}}</p>

            <a routerLink="/movie" (click)="sendId(data.id)" class="btn btn-primary" style="font-size: .6em;">Movie
              Details</a>
          </div>
          <!--  -->

        </div>
      </div>
    
  </div>



  <!--  <mat-card class="movies">
        <mat-card-content>
          <img mat-card-lg-image src="https://image.tmdb.org/t/p/w500/{{data[3]}}">
          <mat-card-title-group>
            
            <mat-card-title>{{data[0]}}</mat-card-title>
          </mat-card-title-group>
          <mat-card-subtitle>{{data[2]}}</mat-card-subtitle>
         
        </mat-card-content>
      </mat-card> -->