/* .movies{
  cursor: pointer;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin: 25px;
  display: block;
}

.card{
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.results{
  width:auto;
} */
 