 
    <div class="row" style="width: 1200px">
      <div class="results" *ngFor="let data of data; let i = index">
        <div  class="card movies" *ngIf="i<8" style="width: 12rem;  ">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{data.title}}</h3>
            <a routerLink="/movie" (click)="sendId(data.id)" class="m-l-2 btn btn-primary" style="font-size: .6em;">Movie Details</a>
          
        </div>
      </div>
    </div>
  

   
<!--  <mat-card class="movies">
        <mat-card-content>
          <img mat-card-lg-image src="https://image.tmdb.org/t/p/w500/{{data[3]}}">
          <mat-card-title-group>
            
            <mat-card-title>{{data[0]}}</mat-card-title>
          </mat-card-title-group>
          <mat-card-subtitle>{{data[2]}}</mat-card-subtitle>
         
        </mat-card-content>
      </mat-card> -->